$rosita: #ff00db;
$white: #fff8ff;
$dark-red: rgb(39, 39, 39);
$red: #820f08;
$orange: #d74129;
$black: #000;

$secondary-color: rgb(41, 243, 195);
$primary-color: #ffc400;
$primary-color: #000;
$background-color: #fff;
$border-color: #fddb92;